body {
  background-image:url('./images/wavegrid.png');
  color: #1C344C;
  text-align: center;
}

.container {
  text-align: center;
  margin: 40px auto;
  width: 800px;
}

.row {
  text-align: left;
  margin-bottom: 30px;
}

.estimates {
  margin-top: 40px;
  color: #287D7D;
  display: block;
}

div.slider {
  width : 750px;
  display: inline-block;
}

.variable-value {
  width: 40px;
  text-align: center;
}

.step-value {
  display: inline-block;
  text-align: center;
}

.variable-name {
  text-align: left;
  color: #287D7D;
  font-weight: bold;
  margin-bottom: 10px;
}

.dont-show {
  display: none;
}

h4 {
  padding: 10px;
  font-size: 26px;
  font-family: sans-serif;
  margin-bottom: 0;
}

a {
  color: #FFCD84;
  text-decoration: none;
}

hr {
  margin-bottom: 40px;
}
