.quote {
  font-family: 'Londrina Solid', cursive;
  font-size: 40px;
}

.sub-head {
  margin-top: 0;
  margin-bottom: 40px;
  font-style: italic;
  font-size: 22px;
  font-weight: normal;
}

p {
  font-family: 'Sanchez', serif;
  font-size: 20px;
}

body {
  background-image:url('../images/wavegrid.png');
  color: #1C344C;
  text-align: center;
}

.container {
  text-align: center;
  margin: 40px auto;
  width: 845px;
}

.row {
  text-align: left;
  margin-bottom: 50px;
}

.estimates {
  margin-top: 40px;
  color: #287D7D;
  display: block;
}

.slider {
  width : 790px;
  display: inline-block;
}

.ui-slider-range { background: #287D7D !important; }

.variable-value {
  width: 40px;
  text-align: center;
}

.step-value {
  display: inline-block;
  text-align: center;
}

.variable-name {
  text-align: left;
  color: #1C344C
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  padding: 10px;
  font-size: 26px;
  font-family: sans-serif;
  margin-bottom: 0;
}

a {
  color: #FFCD84;
  text-decoration: none;
}

#res {
  margin: 0 auto;
  width: 770px;
}

.story {
  padding: 0 5px;
  text-align: left;
  height: 28px;
  line-height: 23px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #D4D4D4;
  background-color: #DDEAF4;
  width: 760px;
}

.story:first-child {
  border-top: none;
}

.text {
  padding-left: 10px;
}

.estimate {
  float: right;
}

.start {
  margin-left: 5px;
}

.stories_table {
  border: 1px solid gray;
  width: 770px;
}

.get-estimates-button {
  font-family: 'Londrina Solid', cursive;
  font-size: 30px;
  color: #EEE;
  background-color: #1C344C;
  padding: 10px 20px;
  margin: 0 auto;
  width: 20px;
  letter-spacing: 0.1em;
}

.get-estimates-button:hover {
  cursor:pointer;
  background-color: #354A68;
}

.oscar-wilde {
  float: left;
  height: 150px;
  margin-left: 30px;
}

.blurb-quote {
  display: block;
  margin-left: 150px;
  padding: 30px;
}

.blurb-quote-text {
  text-align: left;
  font-size: 16px;
  color: black;
  display: inline;
}

.blurb-quote-mark {
  height: 35px;
  display: inline;
}

.blurb {
  margin-top: 50px;
}

.social-links {
  margin-top: 40px;
}

.no-stories {
  font-family: sans-serif;
  color: #1C344C;
  font-size: 18px;
}
